:root {
  --color: #F8C749;
}

body, button {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

body {
  margin: 0;
}

header {
  height: 144px;
  display: flex;
  align-items: center;
  padding: 80px 60px 0;
  box-sizing: border-box;
  font-size: 14px;
}

.logo {
  width: 35px;
  height: 47px;
  margin-right: 35px;
}

header>.link {
  margin-left: auto;
  text-align: right;
  color: #000;
}

header>.link:not(:hover) {
  text-decoration: none;
}

header>button {
  margin-left: 30px;
  width: 58px;
  height: 56px;
  border: 1px solid #000;
  background: none;
  box-sizing: border-box;
  font-size: 16px;
  padding: 16px 21px;
}

.hero {
  min-height: 740px;
}

h1 {
  height: 26vw;
  font-size: 8vw;
  margin: 0;
  padding-left: 5.83vw;
}

.hero>.container {
  background-image: url(images/hero.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 56.25vw;
  position: relative;
  padding-top: 42px;
  padding-left: 5.83vw;
  box-sizing: border-box;
}

.hero button {
  background-color: var(--color);
  border: none;
  padding: 8px 27px;
  border-radius: 92px;
  text-align: left;
}

.hashtags {
  position: absolute;
  top: -81px;
  right: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: url(images/blob.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 388px;
  height: 713px;
  padding: 92px 0 0 124px;
  box-sizing: border-box;
  margin: 0;
}

.about>h2 {
  font-size: 79px;
  max-width: 716px;
  margin-left: auto;
  padding: 20px;
  box-sizing: border-box;
  font-weight: normal;
}

.about .box {
  position: relative;
}

.about .box::before {
  content: '';
  position: absolute;
  display: block;
  top: 1px;
  left: -19px;
  width: 322px;
  height: 104px;
  border: 2px solid #000;
  border-radius: 67px;
}

@media (width < 680px) {
  .hero {
    min-height: unset;
  }

  .hero>.container {
    height: 606px;
    background-size: cover;
  }

  .hashtags {
    top: 166px;
    height: 440px;
    padding-top: 42px;
  }

  .about>h2 {
    font-size: 48px;
    max-width: 460px;
  }

  .about .box::before {
    left: -14px;
    width: 195px;
    height: 64px;
    border-radius: 60px;
  }
}
